@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* shared styles */
.display-flex {
    display: flex;
}
.primary-color {
    color: rgb(230, 83, 60);
}
body {
    background-color: black;
}
.body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.btn-primary {
    width: 225px;
    height: 55px;
    background-color: #E6533C;
    border: none;
    border-radius: 68px;
    margin-top: 25px;
    color: white;
    font-size: 20px;
}

/* nav section starts here */
.bg-light {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 7%, rgba(48, 48, 48, 1) 100%);
    height: 750px;
}
.fitness {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 900;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
    padding: 30px 80px 0 70px;
}
#home {
    padding: 10px 30px;
    height: 45px;
    border-radius: 70px;
    background-color: rgb(230, 83, 60);
}
.navlinks {
    width: 465px;
    height: 45px;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1rem;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 70px;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0px;
}
.navitem {
    list-style: none;
    margin-right: 30px;
    color: white;
    padding-left: 10px;
}
.menubar {
    color: white;
    display: none;
}
/* nav section ends here */

/* banner section starts here */
.banner {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin: 0 100px;
    flex-direction: row;
}
.banner-content-box {
    height: 440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 80px;
}
.banner-tittle {
    font-size: 4.7rem;
    color: white;
    font-weight: 900;
}
.shape {
    font-family: 'Miama', sans-serif;
    font-style: italic;
    line-height: 50px;
    font-weight: 400;
}
.banner-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.502);
    margin-top: 20px;
}
.btn {
    display: flex;
    gap: 30px;
}
.btn2 {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.502);
}
.banner-btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0px;
}
.button-section-icon {
    display: flex;
    padding: 10px 15px;
    gap: 20px;
    position: absolute;
    bottom: 80px;
    right: 240px;
    color: white;
    height: 90px;
    width: 190px;
}
.button-content {
    justify-content: start;
    align-items: start;
    text-align: start;
}
.button-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: start;
    bottom: 360px;
    left: 200px;
    color: white;
    height: 90px;
    width: 190px;
}
h5 {

    color: rgba(255, 255, 255, 0.502);
}
.button-section-icon,
.button-section {

    border-radius: 14px;
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: rgba(48, 48, 48, 0.541);
    border: 1px solid rgba(255, 255, 255, 0.102);
}
.button-section h2 {
    font-size: 2rem;
    font-weight: 900;
}
.button-section-icon h2 {
    font-size: 1.8rem;
    font-weight: 900;
}
.icon {
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: rgb(236, 85, 60);
    margin-top: 15px;
}
img {
    height: 580px;
}
/* banner section ends here */

/* main section */

/* habit section starts here */
.habit {
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 4%;
    padding: 0 30px 0 30px;
}
.habit h3 {
    color: white;
    font-size: 20px;
    padding-top: 20px;
}
.habit p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.502);
}
.habit-description-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.habit-description {
    padding: 20px 10px;
}
.habit-description h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.habit-description p {
    margin: 10px;
    height: 40px;
}
.card-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
    height: 325px;
}
.card-box {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 12px;
    text-align: center;
}
.card-box img {
    max-width: 100%;
    height: 225px;
    margin-top: 20px;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    border: 2px solid rgb(56, 55, 55);
}
.card-box p {
    height: 100px;
}
/* habit section ends here */

/* running section starts here */
.running-section {
    max-width: 1160px;
    margin: 10% auto 0 auto;
    padding: 0 30px;
}
.running {
    display: flex;
    justify-content: space-between;
    height: 380px;
    padding: 60px 40px 60px 60px;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
}
.running-box {
    max-width: 470px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.running-box h1 {
    color: white;
    font-size: 3rem;
    font-weight: 900;
}
.running-box p {
    color: rgba(255, 255, 255, 0.502);
    font-size: 1rem;
    font-weight: 400;
    height: 70px;
    margin-top: 20px;
}
.running img {
    max-width: 365px;
    height: 325px;
    object-fit: none;
    object-position: 67% 30%;
    border-radius: 15px;
    margin: 0 20px;
}
/* running section ends here */

/*exercise & training section starts here */
.training-section {
    margin: 50px 0px;
    padding-bottom: 80px;
}
.training-box h1 {
    color: white;
    font-size: 3rem;
    padding: 20px 0px;
}
.training-box p {
    color: rgba(255, 255, 255, 0.502);
    margin-bottom: 20px;
}
.training-img1 {
    display: grid;
    grid-template-columns: .50fr 1fr .50fr;
    grid-template-rows: repeat(1, 250px);
    margin-top: 40px;
}
.training-img2 {
    display: grid;
    grid-template-columns: .80fr .55fr .65fr;
    grid-template-rows: repeat(1, 250px);
}
.img-item {
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#img1 {
    background-image: url('../images/exercise1.jpg');
}
#img2 {
    background-image: url('../images/exercise2.png');
}
#img3 {
    background-image: url('../images/exercise3.png');
}
#img4 {
    background-image: url('../images/exercise4.png');
}
#img5 {
    background-image: url('../images/exercise5.jpg');
}
#img6 {
    background-image: url('../images/exercise6.jpg');
}
.exc-1,
.exc-2,
.exc-3,
.exc-4,
.exc-5,
.exc-6 {
    width: 100%;
    height: 100%;
}
.exc-1 {
    background-color: rgba(90, 245, 216, 0.5);
}
.exc-2 {
    background-color: rgba(243, 104, 104, 0.3);
}
.exc-3 {
    background-color: rgba(70, 66, 66, 0.5);
}
.exc-4 {
    background-color: rgba(36, 30, 30, 0.5);
}
.exc-5 {
    background-color: rgba(110, 245, 60, 0.3);
}
.exc-6 {
    background-color: rgba(40, 98, 243, 0.3);
}
.exc-1 h3 {
    position: relative;
    left: 15%;
    top: 80%;
    width: 50%;
}
.exc-2 h3 {
    position: relative;
    top: 15%;
    width: 50%;
    left: 15%;
    color: white;
}
.exc-3 h3 {
    position: relative;
    left: 15%;
    top: 80%;
    width: 50%;
    color: white;   
}
.exc-4 h3 {
    position: relative;
    left: 55%;
    top: 15%;
    width: 50%;
    color: white;
}
.exc-5 h3 {
    position: relative;
    left: 15%;
    top: 80%;
    width: 50%;
    color: white;   
}
.exc-6 h3 {
    position: relative;
    left: 15%;
    top: 80%;
    width: 50%;
    color: white;   
}
/* exercise & training section ends here */

/* BMI section starts here */
.bmi2 h2 {
    font-size: 1.8rem;
    color: white;
    text-align: center;
}
.bmi2 p {
    color: rgba(255, 255, 255, 0.502);
    text-align: center;
    padding: 20px 150px 30px 150px;
}
.bmi-section {
    background: rgb(34, 34, 34);
    height: 580px;
    padding: 50px 150px;
}
.bmi-section-box {
    max-width: 1160px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}
.bmi-chart {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    margin-top: 50px;
}
.bmi-items {
    display: grid;
    grid-template-rows: repeat(1, 42px);
    border: 1px solid rgba(255, 255, 255, 0.102);
    color: rgba(255, 255, 255, 0.502);
    padding-left: 15px;
    font-size: 14px;
    align-items: center;
}
#bmi-item1 {
    font-weight: 500;
    color: white;
    padding-left: 15px;
    font-size: 16px;
}
.bmi-calculator {
    max-width: 600px;
    margin-top: 90px;
}
.bmi-calculator p {
    margin: 30px 0px;
    color: rgba(255, 255, 255, 0.502);
}
.bmi-section h2 {
    font-size: 1.8rem;
    color: white;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
#input-selector {
    grid-column: span 2;
}
.calculator input {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.102);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    border-radius: 10px;
    padding-left: 15px;
}
.calculator select {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.102);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding-left: 15px;
}
/* Dropdown styles */
.calculator select {
    height: 48px;
    background-color: rgba(255, 255, 255, 0.102);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding-left: 15px;
    font-size: 15px;
    /*border: 1px solid rgba(255, 255, 255, 0.102);*/
}
/* Styles for options */
.calculator select option {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    padding: 10px;
}
/* Placeholder color for input fields */
.calculator input::placeholder {
    color: rgba(255, 255, 255, 0.6); 
    opacity: 1; 
}
#calculator-btn {
    grid-column: span 2; 
    width: 225px; 
    height: 55px; 
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 70px;
    color: white;
    font-size: 20px;
    align-self: flex-start; 
}
/* BMI section ends here */

/* meet our team section starts here */
.meet-team-section {
    background-color: black;
    height: 880px;
    margin: 10px 50px;
    padding: 20px 100px;
}
.meet-team-section-box {
    max-width: 1160px;
    margin: 0 auto;
}
.meet-section-description {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.meet-section {
    width: 50%;
    text-align: center;
}
.meet-section h2 {
    color: white;
    font-size: 3rem;
}
.meet-section p {
    color: rgba(255, 255, 255, 0.502);
    font-size: 1rem;
    padding-top: 20px;
}
.team-image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 280px);
    margin-top: 40px;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.102);
}
#img-section1 {
    background-image: url('../images/trainer1.png');
}
#img-section2 {
    background-image: url('../images/trainer2.png');
}
#img-section3 {
    background-image: url('../images/trainer3.png');
}
#img-section4 {
    background-image: url('../images/trainer4.png');
}
#img-section5 {
    background-image: url('../images/trainer5.png');
}
#img-section6 {
    background-image: url('../images/trainer6.png');
}
.team-image-item {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
}
.team-overlay {
    width: 70%;
    position: relative;
    top: 220px;
    left: 20px;
}
.team-overlay h3 {
    color: white;
}
.team-overlay h5 {
    color: rgba(252, 247, 247, 0.502);
}
/* meet our team section ends here */

/* unique section starts here*/
#quick-start {
    background-color:rgb(163, 160, 160);
    margin: 0 150px;
    border-radius: 20px;
    padding: 50px 20px;
    text-align: center;
  }
  #quick-start .container {
    max-width: 900px;
    margin: 0 auto;
  }
  #quick-start h2 {
    font-size: 2.5rem;
    color:black;
    margin-bottom: 20px;
  }
  #quick-start p {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 30px;
  }
  .steps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .step {
    background-color:rgb(236, 213, 183);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    transition: transform 0.3s;
  }
  .step:hover {
    transform: translateY(-10px);
  }
  .step h3 {
    font-size: 1.5rem;
    color: #0056b3;
    margin-bottom: 10px;
  }
  .step p {
    font-size: 1rem;
    color: #333;
  }
/* unique section ends here*/

/* footer section starts here */
.footer {
    background-color: rgb(25, 25, 25);
}
.footer-section-box {
    max-width: 1160px;
    height: 450px;
    margin: 0 auto;
}
.footer-section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.footer-description {
    color: white;
    width: 35%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
}
.footer-description h1 {
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 900;
    color: rgb(230, 83, 60);
}
.footer-description p {
    color: rgb(140, 140, 140);
}
.footer-box1 {
    width: 50%;
    height: 250px;
    margin-top: 45px;
}
.footer-box2 {
    width: 50%;
    height: 250px;
    margin-top: 45px;
}
.footer-topic-box {
    display: flex;
    width: 50%;
}
.footer-title{
    padding-bottom: 80px;
}
.footer-box1 h2,
h4,
.footer-box2 h2 {
    height: 50px;
    color: white;
    padding-left: 80px;
}
.footer-box2,
.footer-box1,
h4 {
    color: rgb(140, 140, 140);
}
hr {
    border: 1px solid rgb(140, 140, 140);
}
.footer-end {
    margin-top: 30px;
    color: rgb(140, 140, 140);
    text-align: center;
}
/* footer section ends here */

/* For responsive */
@media screen and (max-width: 576px) {
    .navbar {
       flex-direction: row;
        justify-content: space-around;
        column-gap: 100px;
    }
    .menubar {
        display: block;
    }
    .navlinks {
        display: none;
    }
    .navitem {
        display: none;
    }
    .bg-light {
        height: 1030px;
    }
    .banner {
        flex-direction: column;
    }
    .btn {
        display: flex;
        column-gap: 0;
    }
    .banner-content img {
        padding: 50px 0;
        height: 580px;
        position: relative;
        left: 30px;
        width: 326px;
    }
    .button-section {
        left: 195px;
        bottom: 350px;
        height: 80px;
        width: 160px;
        padding: 10px;
    }
    .button-section-icon {
        left: -20px;
        height: 80px;
        width: 170px;
        padding-top: 5px;
    }
    .icon {
        height: 25px;
        width: 25px;
        margin-top: 15px;
    }
    .banner-content {
        height: 393px;
        width: 355px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .banner-tittle {
        font-size: 2.2rem;
    }
    .habits {
        margin-top: 160px;
    }
    .habits-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 353px;
    }
    .habits-description p {
        height: 75px;
    }
    .card-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 1500px;
    }
    .card-box {
        margin: 0 auto;
        gap: 10px;
    }
    .running {
        display: flex;
        flex-direction: column;
        padding: 30px 30px 15px 30px;
        height: 570px;
        row-gap: 25px;
    }
    .running-box {
        max-width: 350px;
        height: 266px;
    }
    .running h1 {
        font-size: 2rem;
    }
    .running p {
        font-size: .9rem;
        line-height: 20px;
    }
    .running button {
        width: 100%;
        margin-top: 30px;
    }
    .running img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-left: 25px;
    }
    .running-section {
        max-width: 470px;
        padding: 20px;
    }
    .training-box h1 {
        font-size: 2rem;
    }
    .training-box p {
        font-size: 14px;
    }
    .training-image1 {
        grid-template-columns: 1fr 1fr;
    }
    .training-image2 {
        grid-template-columns: .95fr 1.05fr;
    }
    #img3,
    #img6 {
        display: none;
    }
    .bmi-section-box {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        height: 750px;
        justify-content: space-evenly;
    }
    .bmi-calculator-chart {
        width: 100%;
    }
    .bmi-section {
        height: 870px;
        margin-bottom: -60px;
        padding: 20px;
    }
    .bmi {
        width: 100%;
    }
    .bmi2 h2 {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: -20px;
        font-size: 34px;
    }
    .bmi2 p {
        margin-left: -130px;
        font-size: 14px;
        text-align: start;
        color: #FFFFFF80;
        margin-bottom: 60px;
    }
    .bmi-calculator-chart {
        grid-template-columns: repeat(2, 50%);
    }
    .calculator {
        margin: 0 auto;
        justify-content: center;
    }
    .calculator {
        grid-template-columns: repeat(2, 50%);
        gap: 10px;
    }
    #calculator-btn {
        width: 224px;
        height: 54px;
        background-color: #E6533C;
        border: none;
        border-radius: 70px;
        margin-top: 5px;
        color: white;
        font-size: 18px;
    }
    .bmi-calculator {
        width: 100%;
    }
    .meet-team-section {
        height: 1400px;
        margin-top: 100px;
    }
    .team-image-section {
        grid-template-columns: repeat(1, 1fr);
        margin: 40px;
    }
    .meet-section-description {
        margin-top: 0px;
    }
    .meet-section {
        margin-top: 40px;
        width: 70%;
    }
    .meet-section h2 {
        font-size: 2rem;
    }
    .meet-section p {
        font-size: 14px;
    }
    .team-image-item {
       max-width: 100%;
        height: 275px;
    }
    #img-section1,
    #img-section4 {
        display: none;
    }
    #quick-start {
        display: none;
    }
    .footer {
        margin: 0 auto;
        padding-left: 30px;
    }
    .footer-section {
        margin: 0 auto;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
    }
    .footer-section-box {
        max-width: 1200px;
        height: 1000px;
    }
    .footer-topic-box {
        flex-direction: column;
        width: 100%;
    }
    .footer-description {
        width: 100%;
    }
    .footer-section-box {
        padding: 20px;
    }
    .footer-box1 {
        width: 100%;
    }
    .footer-box2 {
        width: 100%;
    }
    .footer-box1 h2,
    h4,
    .footer-box2 h2 {
        padding-left: 80px;
    }
}